.btns {
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.view-github {
  background-color: hsl(350, 79%, 72%);
  color: #fff;
  margin-right: 10px;
}

.view-live {
  background-color: #fff;
  border: 1.5px solid hsl(350, 79%, 72%);
  color: hsl(350, 79%, 72%);
}

.view-github:hover {
  background-color: hsl(350, 79%, 62%);
}

.view-live:hover {
  border: 1.5px solid hsl(350, 79%, 60%);
  color: hsl(350, 79%, 60%);
}

.btn-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-repos {
  top: 9%;
  left: 7%;
}

.view-repos,
.view-repos2 {
  font-size: 12px;
  background-color: #fff;
  color: hsl(350, 79%, 72%);
  padding: 8px 20px;
  border: 1.5px solid hsl(350, 79%, 72%);
}

.view-repos {
  position: absolute;
  top: 9%;
  left: 6%;
}

.view-repos:hover,
.view-repos2:hover,
.view-repos:focus,
.view-repos2:focus {
  color: hsl(350, 79%, 60%);
  border: 1.5px solid hsl(350, 79%, 60%);
}

.back-arrow {
  margin-right: 3px;
}

/* media queries */
@media (min-width: 700px) {
  .btns {
    flex-direction: row;
    justify-content: center;
  }

  .view-repos,
  .view-repos2 {
    font-size: 14px;
    padding: 10px 24px;
  }
}
