.repo{
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background: #fff;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.repo img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display:block;
  width:100%;
  object-fit:cover;
  height:220px;
}

.repo-description {
  font-size:20px;
}

.repo-overlay {
  border-radius: 10px;
  position:absolute;
  padding:0 20px;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
  color:#fff;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

/*.repo-overlay-blur {
  backdrop-filter:blur(5px);
}*/

.repo-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.repo-overlay:hover {
  opacity: 1;
}

.repo-overlay:hover > * {
  transform: translateY(0);
}

.repos {
  text-align:center;
}

.repo-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding:0;
  margin:20px;
}

.repo-name {
  padding:20px;
  padding-top:0px;
  color: #23364B;
  font-size: 18px;
  font-weight:bold;
  text-align: left;
}

.language-list {
  text-align: right;
  padding-top:10px;
}

.language-list li{
  list-style: none;
  display:inline-block;
  font-size: 24px;
  padding: 8px;
  padding-bottom: 0;
}

/* media queries */
@media (min-width:700px) {
  .repo-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:980px) {
  .repo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
