/* Box sizing rules */
* {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: pink;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.hide {
  display: none;
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  padding:20px 0;
}

