@import "repos";
@import "header";
@import "search";
@import "buttons";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Stardos+Stencil:wght@400;700&display=swap');

/* Box sizing rules */
* {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Quicksand', sans-serif;;
}

body {
  background: linear-gradient(270deg, rgba(194,189,221,1) 0%, rgba(236,233,252,1) 59%);
  background: #F5F6FA;
/*  background: #424A6B;*/
}

.container {
  margin: 0 auto;
  background: #fff;
  width: 90%;
  border-radius:20px;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-bottom:40px;
}

.hide {
  display: none;
}

/* media queries */
@media (min-width:700px) {
    /*Tablet and Desktop styles here*/
 .repo-list {
  grid-template-columns: 1fr 1fr;
 }
 .header {
  align-items:center;
 }
 .title {
  font-size: 55px;
 }
 .avatar {
  width: 200px;
 }
 .repo-name {
  font-size: 22px;
 }
 .language-list li {
  font-size: 30px;
 }
 .user-data p {
  font-size: 20px;
}
 .user-data .username {
  font-size: 28px;
}
}

@media (min-width:980px) {
    /*Tablet and Desktop styles here*/
  .repo-list {
  grid-template-columns: 1fr 1fr 1fr;
  }
}
